{% extends "base.html.twig" %}
{% block title %}
    {{article.name}}
{% endblock title %}
{% block body %}
<div class="tableau">
    <p class="headerPicture">
        "{{article.name}}", {{article.artist}}
    </p>
    <p>
        <img src="{{article.imageArticle}}" alt="{{article.name}}" class="imageDT">
    </p>
    <div class="textPicture">{{article.text}}</div>
    <hr>
    <a href="{{path('remove_article', {article:article.id})}}"><button class="btn btn-info" id="btnPicture">Effacer</button> </a>
    <a href="{{path('modify_article', {article:article.id})}}"><button class="btn btn-info" id="btnPicture">Modifier</button> </a>
</div>
{% endblock body %}