{% extends 'base.html.twig' %}

{% block title %}Blog d'art{% endblock %}

{% block body %}

<div class="main">
    <div class="header">Blog d'art</div>
    <div class="sidebar">
        <div class="indexText">
            <p>Salut!</p>
            <p>Je m'appelle Avrora.</p>
            <p>Vous êtes maintenant sur ma page de blog. 
            Ici, je vous invite à vous familiariser avec certaines œuvres d'art mondial.</p> 
            <!-- <p>Et bien sûr, vous pouvez laisser vos commentaires.</p> -->
        </div>
        <a class="btn btn-danger" id="mainBTN" href="{{ path('add') }}">Ajouter un nouvel article</a>
    </div>
    <div class="index">
        <div class="carousel">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                {# <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>                        
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                </ol> #}
            <div class="carousel-inner">
                {% for article in articles %}
                {% if article==articles[0] %}
                <div class="carousel-item active">
               {% else %}
                    <div class="carousel-item">
                            {% endif %}
                        <img src="{{article.image}}" class="d-block w-100" alt="Le Portement de Croix (Jérôme Bosc)">
                        <div class="carousel-caption d-none d-md-block">
                            <a href="{{path('article', {'id':article.id})}}"> <h5>{{article.name}}</h5></a>
                            <p>{{article.artist}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
</div>
{% endblock %}