body {
    margin: 0px;
    background-color:white;
    overflow-x:hidden;
    background-color:beige;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header"
                         "sidebar index";                 
    height: 100vh; 
}

.header {
    grid-column: 1 / span 2; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px;
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:wheat;
    box-shadow: 0px 10px 18px #1B0F09;
    z-index: 200;
   
}

.sidebar {
    grid-column: 1 / span 1; 
    background-image: url(sand.jpg);

}

.indexText {
    margin: 24px;
    margin-top: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
}

#mainBTN {
    display: block;
    margin: 0 auto;
    margin-top: 240px;
    width: 80%;
}

.index {
    grid-column: 2 / span 1; 
    color: black;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    z-index: 50;
}

.carousel {
    max-width: 730px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 95px;

}

.carousel-control-prev, .carousel-control-next {
    margin-top: 70px;
    margin-left: 95px; 
}

#carouselExampleCaptions {
    background-color: grey;
    border: 2px solid #ddd;
    padding: 2px;
    border-radius: 2px 2px 2px 2px; 
    box-shadow: 0 0 3px rgba(0,0,0,0.2)
}

img {
    object-fit: cover;
    overflow: hidden;
}

h5 {
    color: white;
    font-size: 22px;
}

h5 a {
    color: white;
}

a:hover {
    text-decoration: none;
    }

.articleName, .articleArtist, .articleImage, .articleImagePreview, .articleText {
    margin-top: 10px;
}

label {
    font-weight: bold;
}

.btn-info {
    background-color: orange;
    border: 1px solid orange;
    color: black;
}

.btn-info:hover {
    background-color: #ecd503;
    border: 1px solid #ecd503;
    color: black;
}


/* Page du tableux */
.tableau {
    background-image: url(sand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.imageDT {
    display: block;
    margin: 0 auto;
    height: 100vh;
    color: brown;
    max-width: 90%;
    border: 2px solid goldenrod;  
}

.headerPicture {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.textPicture {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

