{% extends 'base.html.twig' %}

{% block title %}Ajoutez un tableau{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
        <div class="col-9 mt-5">
            {{form_start(form)}}
            {{form_widget(form)}}
            <button class="btn btn-info">Créer</button>
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}